ul {
	padding-left:18%;				
			}
			
table {
	width:70%;
	margin:auto;
}	
		
table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
	text-align: center;
}

th, td {
	padding:4px;
}

h1, h2, p {
	text-align:center;
}
