@font-face {
  font-family: "Pacifico";
  font-style:normal;
  font-weight:400;
  src: local("Pacifico"), local("Pacifico-Regular"), url("fonts/Pacifico.ttf") format('truetype');
}
html,
body {
	margin:0;
}
#wrapper {
	min-height:100%;
	width:100%;
	position:absolute;
}
#header {
	font-family:Pacifico;
	font-size:30px;
	text-align:center;
}
#navigation {
	padding-bottom:5px;
}
#main {
	width:100%;
	padding-top:14px;
	padding-bottom:100px;
	border-top-style:solid;
	border-width:1px
}
#footer {
	width:100%;
	height:100px;
	position:absolute;
	bottom:0;
	left:0;
	text-align:center;
	border-top-style:solid;
	border-width:1px;
	background-color:white;
}
th {
	padding-top:6px;
	padding-bottom:6px;
	padding-left:14px;
	padding-right:14px;
}
h1, h3, p, q, th, td, select, input {
	font-family: comic sans ms;
}
p, q, th {
	font-size:14px;
}
