@font-face {
  font-family: 'Bangers';
  font-style: normal;
  font-weight: 400;
  src: local('Bangers'), local('Bangers-Regular'), url(https://fonts.gstatic.com/s/bangers/v8/DqeGA7eaz0hhOYTfkeJBIA.woff) format('woff');
}
#special {
	font-family:Bangers;
	font-size:26px;
}	
#albumMembers {
	padding-top:10px;
	width:68%;
	margin:auto;
}
table {
	width:70%;
	margin:auto;
}		
table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
	text-align: center;
}
caption, a {
	font-size:18px;
	font-weight:bold;
	padding-bottom:5px;
}
th {
	background-color:#c8c8c8;
}		
th, td, li {
	padding:3px;
}
p {
	text-align:center;
}







