@font-face {
  font-family: 'Bangers';
  font-style: normal;
  font-weight: 400;
  src: local('Bangers'), local('Bangers-Regular'), url(https://fonts.gstatic.com/s/bangers/v8/DqeGA7eaz0hhOYTfkeJBIA.woff) format('woff');
}

#albumImage {
	height: 450px;
	background-image: url("http://ctojl66fqa6h55fs.zippykid.netdna-cdn.com/wp-content/uploads/2013/10/EOMP-Cover-wSticker-1200.jpg");
	background-size: 450px 450px;
	background-repeat: no-repeat;
	background-position: top center;				
}

#special {
	font-family: Bangers;
	font-size: 26px;
}

a {
	text-decoration: none;
}

a:link {
	font-size: 18px;
	font-weight: bold;
	color: #df2411;
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: #df2411;
	background-color: #cfcfd0;
}

a:active {
	text-decoration: none;
}

#albumMembers {
	padding-top: 10px;
	width: 68%;
	margin: auto;
}	

th, td, li {
	padding: 3px;
}

table {
	width: 70%;
	margin: auto;
}
		
table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
	text-align: center;
}

caption {
	font-size: 18px;
	font-style: none;
	font-weight: bold;
	padding-bottom: 5px;
}

th {
	background-color: #c8c8c8;
}

tr:nth-child(odd) {
	background-color: #ef9288;
}

tr:nth-child(even) {
	background-color: #f5dac9;
}

tr {
	font-style: italic;
}

p {
	text-align: center;
}

