html,
body {
	margin:0;
}
#wrapper {
	min-height:100%;
	width:100%;
	position:absolute;
}
#header {
	 text-align:center;
}
#footer {
	width:100%;
	height:100px;
	position:absolute;
	bottom:0;
	left:0;
	text-align:center;
}
th {
	padding-top:6px;
	padding-bottom:6px;
	padding-left:14px;
	padding-right:14px;
}
h1, h3, p, q, th, td, select, input {
	font-family: comic sans ms;
}
p, q, th {
	font-size:14px;
}