@font-face {
  font-family: "Cinzel";
  font-style:normal;
  font-weight:400;
  src: local("Cinzel"), local("Cinzel-Regular"), url("fonts/Cinzel/Cinzel-Regular.ttf") format('truetype');
}

@font-face {
  font-family: "Cinzel-Bold";
  font-style:normal;
  font-weight:bold;
  src: local("Cinzel-Bold"), url("fonts/Cinzel/Cinzel-Black.ttf") format('truetype');
}

* {
	font-family:Cinzel;
	font-weight:bold;
}

#wrapper {
	display:block;
	text-align:center;
}

#header {
	padding-top:40px;
	padding-bottom:40px;
}

#specHeader {
	font-family:Cinzel-Bold;
	font-weight:bold;
	font-size:38px;
}

label {
	padding-right:5px;
}

#playButton {
	padding-top:25px;
	padding-bottom:40px;
}

.alertMsg {
	background:rgba(255, 0, 0, .5);
}

#displayResults {
	width:325px;
	margin:auto;
 	visibility:hidden;
}

caption {
	font-family:Cinzel-Bold;
	text-align:center;
	text-decoration:underline;
	font-size:20px;
	font-weight:bold;
}

th {
	font-family:Cinzel-Bold;
	text-align:center;
	background-color:#cccccc;
	font-weight:bold;
}

