@font-face {
  font-family: "Pacifico";
  font-style:normal;
  font-weight:400;
  src: local("Pacifico"), local("Pacifico-Regular"), url("fonts/Pacifico.ttf") format('truetype');
}

html {
	min-height:100%;
	position: relative;
}

body {
	margin-bottom:60px;
}

#header {
	background-color:#a985ad;
	border-top-left-radius:30px;
	border-bottom-right-radius:30px;
}

.restName {
	font-family:Pacifico;
	padding-bottom:10px;
}

#newRest {
	color:white;
}

#navigation {
	padding-top:10px;
	padding-bottom:10px;
}

#description {
	border-top-left-radius:30px;
	border-bottom-right-radius:30px;
	padding-bottom:6px;
	background-color:#a985ad;
}

#homeTable {
	width:400px;
	margin:auto;
	margin-top:10px;
}

#menu1 {
	padding-top:20px;
	border-top-left-radius:30px;
	background-color:#a985ad;
}

#menu2 {
	padding-top:10px;
	padding-bottom:60px;
	border-bottom-right-radius:30px;
	background-color:#a985ad;
}

.footer {
	position:absolute;
	bottom: 0;
	width: 100%;
	height:60px;
}