@font-face {
  font-family: 'Bangers';
  font-style: normal;
  font-weight: 400;
  src: local('Bangers'), local('Bangers-Regular'), url(https://fonts.gstatic.com/s/bangers/v8/DqeGA7eaz0hhOYTfkeJBIA.woff) format('woff');
}
#albumImage {
	width:450px;
	margin:auto;	
}

img {
	width:450px;
	height:450px;
}

#special {
	font-family: Bangers;
	font-size: 28px;
}

a {
	text-decoration: none;
}

a:link {
	font-size: 18px;
	font-weight: bold;
	color: #df2411;
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: #df2411;
	background-color: #cfcfd0;
}

a:active {
	text-decoration: none;
}

#albumMembers {
	width: 68%;
	margin: auto;
}

.table-responsive {
	width: 70%;
	margin: auto;
}

caption {
	text-align:center;
	font-size: 18px;
	font-style: none;
	font-weight: bold;
	padding-bottom: 5px;
}

th, td {
	text-align: center;
	font-style: italic;
}

th {
	background-color: #c8c8c8;
}

.table-striped tbody tr:nth-child(odd) {
	background-color: #ef9288;
}

.table-striped tbody tr:nth-child(even) {
	background-color: #f5dac9;
}

p {
	text-align: center;
}

